@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration-line: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 67px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(15px);
  /* box-shadow: 10px 20px 20px -15px #efefef; */
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.nav-link {
  color: var(--secondary-text, #525560);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}
.nav-links button {
  color: #fff;
  width: 116px;
  height: 43px;
  border-radius: 4px;
  background: var(--primary-text, #1d2130);
}
.nav-links button a {
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}

/* ////////////HOME SECTION start//////////// */

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 96px;
}

.sub_left-content {
  padding: 2px 0px 284px 0px;
}

.left-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 33px;
  width: 690px;
  height: 297px;
}

.left-content p:first-child {
  color: var(--primary-text, #1D2130);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.left-content h2 {
  color: var(--primary-text, #1D2130);
  font-size: 56px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 120%;
  width: 461px;
}

.left-content p:last-child {
  color: var(--secondary-text, #525560);
  font-size: 16px;
  font-family: Roboto;
  line-height: 160%;
  width: 594px;
}

.right-content img {
  width: 480px;
  height: 384px;
}

/* ////////////HOME SECTION end//////////// */




/* //////FOOTER///////  */

footer {
  height: 402px;
  background-color: #0b0706;
  margin-top: 67px;
}
li {
  list-style: none;
}
.footer-content {
  display: flex;
  flex-direction: row;
  padding-top: 96px;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  flex-direction: row;
  gap: 120px;
}
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 88px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.f-l {
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 160%;
}
.f-ll {
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 160%;
}
.footer-d {
  color: #fff;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 140%;
}
.footer-input {
  border-radius: 4px;
  border: 1px solid rgba(235, 240, 249, 0.3);
  width: 408px;
  height: 64px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: transparent;
  outline: none;
  padding-left: 24px;
}
.footer-btn {
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  height: 64px;
  width: 136px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  color: #1d2130;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}
.input {
  display: flex;
  margin-top: 32px;
}
